*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Montserrat-Medium,sans-serif;
    background-color: #f4f6f9;
}

.container{
    width: 85%;
    margin: auto;
}

/****************************** Header Section *********************************/
header{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 128;
}

header nav{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .logo {
    color: #fff;
}

.logo{
    font-size: 30px;
}
.logo span{
    font-size: 40px;
    margin: 0 2px;
    color: #6699ff;
}

header nav ul {
    display: flex;
    list-style: none;
}
header nav ul li {
    margin-left: 30px;
}
header nav ul li a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}

header nav > ul > li > a.active::after,
header nav > ul > li > a::after{
    content: "";
    display: block;
    height: 3px;
    background-color: #6195ff;
}

header nav  ul > li > a.active::after {
    width: 100%;
}
header nav  ul > li > a::after{
    width: 0;
    transition: width 0.5s;
}
header nav  ul > li > a:hover::after{
    width: 100%;
}
/**************************** Filter Section ********************************************/
.expert-title{
    padding-top: 100px;
}
.expert-title h2{
    color: #6195ff;
    font-size: 40px;
    font-weight: bold;
}
.expert-title h5{
    color: #607d8b;
    margin-bottom: 30px;
}
section.filter{
    position: relative;
    margin-bottom: 50px;
}

section.filter input, section.filter select{
    width: 25%;
    height: 40px;
    margin-right: 15px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    border: 1px solid #99999952;
    outline: none;
}
section.filter input{
    padding: 10px 0 10px 32px;
}
section.filter select{
    cursor: pointer;
    padding: 5px;
    color: #999;
}
section.filter select option{
    padding: 15px 0;
    font-size: 16px;
}

section.filter i{
    position: absolute;
    color: #999;
    top: 30%;
    left: 8%;
}
/**************************** doctors Section ********************************************/
section.doctors{
    padding-bottom: 50px;
}

.doctors-items{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.doctors-content{
    width: 100%;
    text-align: center;
    background-color: #fff;
    border: 1px solid #99999952;
}

.doctors-content img{
    width: 160px;
    height: 155px;
    margin-top: 20px;
    border-radius: 50%;
}

.doctors-content h3{
    margin: 10px 0;
    color: #6195ff;
    font-size: 17px;
}
.doctors-content span{
    font-size: 13px;
    font-weight: bold;
    color: rgb(128, 127, 127);
}

.doctors-star i{
    margin-top: 15px;
    color: #ffc107;
}

.doctors-content p{
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.5;
}

.doctor-price span{
    margin-right: 10px;
    font-size: 17px;
    color: rgb(27, 27, 27);
}

.doctor-price i{
    margin: 25px 5px;
    font-weight: bold;
    color: #6195ff;
}

.doctors-content button{
    width: 130px;
    height: 40px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #6195ff;
    background-color: #fff;
    color: #6195ff;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.doctors-content button:hover{
    background-color: #6195ff;
    color: #fff;
}

.doctors-content button.btn{
    margin-right: 7px;
    background-color: #6195ff;
    color: #fff;
    transition: all 0.5s ease-in-out;
}
.doctors-content button.btn:hover{
    background-color: #fff;
    color: #6195ff;
}
/**************************** Patient page  ********************************************/
section#patient{
    padding-top: 120px;
    margin-bottom: 70px;
}
.patient-title h2{
    color: #4d4d4f;
    margin-bottom: 10px;
}
.patient-title h2 span{
    font-size: 15px;
}
.patient-title p{
    color: #4d4d4f;
    margin-bottom: 20px;
}

.patient-form{
    padding: 15px;
    background-color: #fff;
}
.patient-form form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.patient-form label{
    color: #4d4d4f;
    font-weight: bold;
}

.patient-form input,.patient-form textarea, .patient-gender select{
    padding: 10px;
    margin: 15px 0;
    width: 95%;
    height: 40px;
    font-size: 15px;
    border: 1px solid #999;
    border-radius: 5px;
    outline-color: #6195ff;
}
.patient-form input[type="number"]::-webkit-outer-spin-button,
.patient-form input[type="number"]::-webkit-inner-spin-button,
.patient-form-right input[type="number"]::-webkit-outer-spin-button,
.patient-form-right input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.patient-form a{
    text-decoration: none;
}
.patient-form input[type="submit"]{
    display: block;
    width: 150px;
    height: 40px;
    margin: 10px 28px 10px auto;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid #6195ff;
    border-radius: 25px;
    background-color: #6195ff;
    color: #fff;
    outline: none;
    cursor: pointer;
}
.patient-form input[type="submit"]:hover{
    opacity: 0.8;
}

/**************************** Footer  Section ********************************************/
footer{
    height: 515px;
    margin-top: 20px;
    background-color: #000;
}
footer .call-us{
    display: flex;
    color: #fff;
    padding: 40px 0;
    border-bottom: 1px solid rgb(92, 92, 92);
}
.call-us .call-us-items{
    width: 50%;
    padding-left: 35px;
    position: relative;
}
.call-us .call-us-items.active{
    padding-left: 43px;
}

.call-us-items i{
    position: absolute;
    top: 10px;
    left: 0;
    color: #6195ff;
}

.call-us-items p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.call-us-items span{
    color: #999;
}

/* footer */
.footer-content{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.footer-items{
    width: 30%;
    color: #fff;
    position: relative;
}
.footer-items span.line{
    display: block;
    margin: 10px 0;
    width: 50px;
    height: 3px;
    background: #6195ff;
}

.footer-items h3{
    font-size: 25px;
}
.footer-items h3 span{
    font-size: 35px;
    margin: 0 2px;
    color: #6699ff;
}

.footer-items p{
    margin-top: 30px;
    color: #999;
    line-height: 1.5;
}

.footer-items span.social{
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin: 25px 0;
}

.footer-items i.icon{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.5s;
}
.footer-items i.facebook{
    background-color: #3b5999;
}
.footer-items i.twitter{
    background-color: #55acee;
}
.footer-items i.google{
    background-color: #cd201f;
}
.footer-items i.icon:hover{
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 25px;
}

/* links  */
.footer-items h4{
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 16px;
}

.footer-items-links{
    display: flex;
}
.footer-items-links .links.part1{
    width: 150px;
}

.footer-items-links .links a{
    display: block;
    margin: 20px 0;
    text-decoration: none;
    color: #999;
}
.footer-items-links .links a:hover{
    text-decoration: underline;
    color: #6195ff;
}

/*mail*/
.footer-items input{
    margin-top: 30px;
    padding: 10px;
    width: 210px;
    height: 50px;
    border: 0;
    border-radius: 5px 0 0 5px;
    outline: none;
    background: rgba(92, 92, 92, 0.59);
    color: #fff;
    font-size: 15px;
}
.footer-items a i.send{
    position: absolute;
    top: 150px;
    right: 62px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #6195ff;
    color: #fff;
    border: 0;
    border-radius: 0 5px 5px 0;
}

/* copyright */
.copy{
    height: 40px;
    background: #161616f0;
}
.copy p{
    padding-top: 13px;
    color: #fff;
}