*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Montserrat-Medium,sans-serif;
    background-color: #f4f6f9;
}

.container{
    width: 85%;
    margin: auto;
}

.pd-y {
    padding: 70px 0;
}

.clear{
    clear: both;
}

/****************************** Header Section *********************************/
header{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 128;
}

header nav{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .logo {
    color: #fff;
}

.logo{
    font-size: 30px;
}
.logo span{
    font-size: 40px;
    margin: 0 2px;
    color: #6699ff;
}

header nav ul {
    display: flex;
    list-style: none;
}
header nav ul li {
    margin-left: 30px;
}
header nav ul li a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}

header nav > ul > li > a.active::after,
header nav > ul > li > a::after{
    content: "";
    display: block;
    height: 3px;
    background-color: #6195ff;
}

header nav  ul > li > a.active::after {
    width: 100%;
}
header nav  ul > li > a::after{
    width: 0;
    transition: width 0.5s;
}
header nav  ul > li > a:hover::after{
    width: 100%;
}
/****************************** Home Section *********************************/
section#home{
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/home-bg.jpg");
    background-size: cover;
    background-position: center;
}

.home-content{
    position: absolute;
    top: 25%;
}

.home-title{
    color: #fff;
    font-size: 25px;
}
.home-title span{
    color: #6699ff;
    font-size: 27px;
}

.home-book{
    display: block;
    margin: 35px 0;
    color: #fff;
    font-size: 20px;
}
.home-book i{
    font-size: 33px;
    color: #6195ff;
    margin: 0 5px;
}

.home-content button{
    width: 150px;
    height: 50px;
    margin-top: 15px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #6195ff;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s;
}
.home-content button.btn-sign{
    background-color: #6195ff;
    margin-right: 12px;
    transition: all 0.5s ease-in-out;
}
.home-content button.btn-sign:hover{
    background-color: transparent;
}

.home-content button.btn-log:hover{
    background-color: #6195ff;
}
/****************************** appointment Section *********************************/
.appointment-content{
    display: flex;
    justify-content: space-between;
}

#appointment .appointment-make{
    width: 48%;
    text-align: center;
    border: 1px solid #e8e8e8;
}

.appointment-make h2, .appointment-call h2{
    margin-top: 30px;
}

.appointment-make span.line, .appointment-call span.line{
    display: block;
    margin: 10px auto;
    width: 120px;
    height: 4px;
    background-color: #6195ff;
}

.appointment-make select, .appointment-make input,
.appointment-call select, .appointment-call input{
    display: block;
    margin: 15px auto;
    width: 90%;
    height: 35px;
    border: 1px solid #999;
    border-radius: 5px;
    outline-color: #6195ff;
}

.appointment-make select, .appointment-call select{
    padding-left: 5px;
}
.appointment-make input, .appointment-call input{
    padding: 10px;
}

.appointment-make a button, .appointment-call a button{
    width: 130px;
    height: 40px;
    margin: 15px 0;
    background-color: #6195ff;
    color: #fff;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}
.appointment-make a button:hover, .appointment-call a button:hover{
    background-color: transparent;
    color: #6195ff;
    border: 1px solid #6195ff;
}

#appointment .appointment-call{
    width: 48%;
    border: 1px solid #e8e8e8;
    text-align: center;
}
/****************************** About Section *********************************/
section#about{
    background-color: #f4f6f9;
}
.about-title{
    width: 18%;
    margin: auto;
    margin-bottom: 40px;
}
.about-title h2{
    font-size: 30px;
}
.about-title span.line{
    display: block;
    width: 36%;
    height: 4px;
    background: #6195ff;
    margin: 7px 0 0 3px;
    transition: all 0.5s ease-in-out;
}
.about-title:hover span.line{
    width: 95%;
}

.about-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.about-content .about-items1{
    background-image: url(../images/about/about-bg1.jpg);
    background-size: cover;
}
.about-items1 .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.about-items1, .about-items2, .about-items3{
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.about-items1 h3{
    padding-top: 30px;
    text-transform: capitalize;
    color: #fff;
}

.about-items2 h3, .about-items3 h3{
    color: #000;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding-top: 30px;
    transition: all 0.5s ease-in-out;
}
.about-items2:hover h3, .about-items3:hover h3{
    color: #fff;
    text-decoration: underline;
}

.about-items1 span{
    display: block;
    font-weight: bold;
    margin-top: 20px;
    width: 58%;
    height: 50px;
    line-height: 50px;
    background-color: #f8f9fab0;
}
.about-items1 button{
    font-size: 15px;
    font-weight: bold;
    margin: 17px 0;
    margin-left: 65%;
    width: 100px;
    height: 40px;
    background-color: #6195ff;
    color: #fff;
    outline: none;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
}
.about-items1 button:hover{
    opacity: 0.7;
}

.about-items2 p, .about-items3 p{
    padding: 20px;
    margin-top: 15px;
    letter-spacing: 0.7px;
    line-height: 2;
    color: #686868;
    transition: color 0.5s ease-in-out;
}
.about-items2:hover p, .about-items3:hover p{
    color: #fff;
}

.tb-effect{
    position: relative;
}
.tb-effect::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;  
    top: 0;
    left: 0;
    background: #333;
    z-index: -1; /*يبقي ورا الكلام*/
    transition: all 0.5s ease-in-out;
}
.tb-effect:hover::after{
    height: 100%;
}
.about-items2.tb-effect,.about-items3.tb-effect {
    z-index: 1;
}
/****************************** how-book Section *********************************/
section#how-book{
    background: #f9f9f9;
}
.how-book-title{
    width: 39%;
    margin: auto;
}
.how-book-title h2{
    font-size: 35px;
    padding-top: 45px;
    margin-bottom: 20px;
}
.how-book-title h2 p{
    display: inline-block;
    transition: all 0.5s;
}
.how-book-title span{
    font-size: 40px;
    margin: 0 2px;
    color: #6699ff;
}
.how-book-title h2 span.line{
    display: block;
    margin: 7px auto;
    width: 80px;
    height: 4px;
    background-color: #6195ff;
}
.how-book-title:hover h2 p{
    transform: translateY(-10px);
}

#how-book .how-book-content{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#how-book .how-book-items{
    margin-top: 25px;
}

#how-book .how-book-items i{
    display: block;
    font-size: 50px;
    color: #6195ff;
}
#how-book .how-book-items span{
    display: block;
    margin: 20px 0;
    font-size: 30px;
    color: #6195ff;
}
#how-book .how-book-items p{
    font-size: 12px;
    color: #999;
    margin-bottom: 45px;
}
/********************************* Service Section ******************************/
section.Service{
    background-color: #f9f9f9;
}

.Service-item{
    width: 50%;
    float: left;
}
.Service-item .caption{
    width: 43%;
}
.Service-item .caption h2{
    font-size: 30px;
}
.Service-item .caption span.line{
    display: block;
    width: 25%;
    height: 4px;
    background: #6195ff;
    margin: 7px 0 20px 1px;
    transition: all 0.5s ease-in-out;
}
.caption:hover span.line{
    width: 97%;
}

.Service-item p{
    color: #4d4d4f;
    line-height: 1.5;
    margin-bottom: 20px;
}

.Service-item ul.Service-list{
    list-style: none;
}
.Service-item ul.Service-list li{
    margin: 15px 0;
}
.Service-item ul.Service-list li i{
    color: #6195ff;
    border: 1px solid #6195ff;
    border-radius: 50%;
    padding: 5px;
}
.Service-item.image{
    padding-left: 30px;
    margin-top: 35px;
}
.Service-item .Service-img img{
    width: 100%;
}

.Service-item ul.Service-boltts{
    text-align: center;
}
.Service-item ul.Service-boltts li{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px 5px;
    border-radius: 50%;
    background-color: #999;
}
.Service-item ul.Service-boltts li.active{
    background-color: #6195ff;
}
.Service-item ul.Service-boltts li:hover{
    background-color: #6195ff;
}
/****************************** team Section *********************************/
section#team{
    margin-top: 50px;
}
.team-title{
    width: 28%;
}
.team-title h3{
    font-size: 30px;
}
.team-title span.line{
    display: block;
    width: 30%;
    height: 4px;
    margin: 7px 0 20px 3px;
    background: #6195ff;
    transition: all 0.5s ease-in-out;
}
.team-title:hover span.line{
    width: 96%;
}

#team .team-content{
    display: flex;
    justify-content: space-between;
}

.team-content .team-items{
    margin-top: 50px;
    text-align: center;
}

.team-content .team-items img{
    width: 180px;
    height: 170px;
    border-radius: 50%;
}

.team-content .team-items span{
    display: block;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #999;
    transition: all 0.5s;
}
.team-content .team-items:hover span{
    color: #000;
    font-weight: bold;
}

.team-content .team-items p{
    color: #999;
    font-size: 15px;
    padding: 10px;
}

.team-content .team-items a button{
    width: 130px;
    height: 40px;
    margin: 15px 0;
    background-color: #6195ff;
    color: #fff;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}
.team-content .team-items a button:hover{
    background-color: transparent;
    color: #6195ff;
    border: 1px solid #6195ff;
}

/********************************** testimonial Section ******************************/
.testimonial-title {
    width: 22%;
    padding-top: 70px;
    margin: 30px auto;
}
.testimonial-title h2{
    font-size: 30px;
}
.testimonial-title span.line{
    display: block;
    width: 29%;
    height: 4px;
    margin: 7px 0 20px 3px;
    background: #6195ff;
    transition: all 0.5s ease-in-out;
}
.testimonial-title:hover span.line{
    width: 91%;
}

section#testimonial{
    background: url(../images/testimonial-bg.jpeg);
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}

#testimonial .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.testimonial-content{
    display: flex;
}

.testimonial-item{
    display: flex;
    padding: 58px 20px;
    color: #fff;
}

.testimonial-item p{
    background-color: #607d8b;
    text-align: center;
    margin-left: 30px;
    padding: 20px 10px;
    letter-spacing: 0.8px;
    line-height: 1.5;
    border-radius: 10px;
    position: relative;
}
.testimonial-item p::before{
    content: "";
    position: absolute;
    left: -20px;
    top: 20px;
    border-right: 10px solid #607d8b;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.testimonial-img{
    text-align: center;
}

.testimonial-img img{
    border-radius: 50%;
}
.testimonial-img h4{
    width: 85px;
}
/************************************ Blog Page ****************************************/
section#blog{
    padding-top: 90px;
    margin-bottom: 181%;
    height: 300px;
    background-color: #607d8b;
}

.blog-caption h2{
    font-size: 40px;
    margin-bottom: 10px;
    color: #fff;
}
.blog-caption p{
    color: #fff;
}

.blog-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 20px;
}

.blog-item{
    border: 1px solid #607d8b;
    border-radius: 20px;
    margin-top: 50px;
}

.blog-item-img{
    width: 100%;
}
.blog-item-img img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.blog-item-desc{
    padding: 15px;
}
.blog-item-desc span{
    font-size: 20px;
    font-weight: bold;
    color: #395988;
}
.blog-item-desc p{
    margin: 10px 0;
    line-height: 1.5;
    color: #395988;
}
.blog-item-desc button{
    width: 100px;
    height: 40px;
    margin: 5px 0;
    background-color: #6195ff;
    color: #fff;
    font-size: 15px;
    border: 1px solid #6195ff;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.blog-item-desc button:hover{
    background-color: transparent;
    color: #6195ff;
}

/************************************ Contact Page ****************************************/
section.contact{
    padding: 12% 0 10% 0;
}

.contact-content{
    padding: 30px;
    background-color: #fff;
    line-height: 1.5;
    display: flex;
}

.contact-item{
    width: 60%;
    border-right: 1px solid #99999972;
}
.contact-item h2, .contact-call h2{
    color: #6195ff;
}
.contact-item p{
    color: #607d8b;
    margin: 10px 0;
}
.form-content{
    display: flex;
    align-items: center;
    margin: 25px 0;
}
.contact-item form label{
    width: 25%;
    color: #607d8b;
}
.contact-item form input{
    width: 70%;
    height: 40px;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    outline: none;
}
.contact-item form input:focus , .contact-item form textarea:focus{
    border: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.contact-item form input[type="number"]::-webkit-outer-spin-button,
.contact-item form input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.contact-item form textarea{
    width: 70%;
    resize: none;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    outline: none;
}

.contact-item form input[type="submit"]{
    display: block;
    width: 130px;
    height: 40px;
    margin: 0 30px 0 auto;
    background-color: #6195ff;
    border: 1px solid #6195ff;
    border-radius: 25px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}
.contact-item form input[type="submit"]:hover{
    opacity: 0.8;
}
/****** contact-call  *******/
.contact-call{
    padding-left: 30px;
    line-height: 1.5;
}

.contact-call .contact-call-phone{
    margin: 10px 0;
    color: #777;
}
.contact-call .contact-call-number{
    color: #777;
}

.contact-call h3, .contact-call h4, .contact-call h5{
    font-size: 20px;
    color:#6195ff;
    margin: 10px 0;
}

.contact-call .contact-call-address, .contact-call .contact-call-mail{
    color:#777;
}

.contact-call i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 15px 15px 15px 0;
    border-radius: 50%;
}

.contact-call i.facebook{
    background-color: #3b5999;
    color: #fff;
}

.contact-call i.twitter{
    background-color: #55acee;
    color: #fff;
}

.contact-call i.linkedin{
    background-color: #0077B5;
    color: #fff;
}
/************************************ footer Section ****************************************/
footer{
    height: 515px;
    margin-top: 20px;
    background-color: #000;
}
footer .call-us{
    display: flex;
    color: #fff;
    padding: 40px 0;
    border-bottom: 1px solid rgb(92, 92, 92);
}
.call-us .call-us-items{
    width: 50%;
    padding-left: 35px;
    position: relative;
}
.call-us .call-us-items.active{
    padding-left: 43px;
}

.call-us-items i{
    position: absolute;
    top: 10px;
    left: 0;
    color: #6195ff;
}

.call-us-items p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.call-us-items span{
    color: #999;
}

/* footer */
.footer-content{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.footer-items{
    width: 30%;
    color: #fff;
    position: relative;
}
.footer-items span.line{
    display: block;
    margin: 10px 0;
    width: 50px;
    height: 3px;
    background: #6195ff;
}

.footer-items h3{
    font-size: 25px;
}
.footer-items h3 span{
    font-size: 35px;
    margin: 0 2px;
    color: #6699ff;
}

.footer-items p{
    margin-top: 30px;
    color: #999;
    line-height: 1.5;
}

.footer-items span.social{
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin: 25px 0;
}

.footer-items i.icon{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.5s;
}
.footer-items i.facebook{
    background-color: #3b5999;
}
.footer-items i.twitter{
    background-color: #55acee;
}
.footer-items i.google{
    background-color: #cd201f;
}

/* links  */
.footer-items h4{
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 16px;
}

.footer-items-links{
    display: flex;
}
.footer-items-links .links.part1{
    width: 150px;
}

.footer-items-links .links a{
    display: block;
    margin: 20px 0;
    text-decoration: none;
    color: #999;
}
.footer-items-links .links a:hover{
    text-decoration: underline;
    color: #6195ff;
}

/*mail*/
.footer-items input{
    margin-top: 30px;
    padding: 10px;
    width: 210px;
    height: 50px;
    border: 0;
    border-radius: 5px 0 0 5px;
    outline: none;
    background: rgba(92, 92, 92, 0.59);
    color: #fff;
    font-size: 15px;
}

.footer-items a i.send{
    position: absolute;
    top: 150px;
    right: 62px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background: #6195ff;
    border-radius: 0 5px 5px 0;

}

/* copyright */
.copy{
    height: 40px;
    background: #161616f0;
}
.copy p{
    padding-top: 13px;
    color: #fff;
}